
<style>
    .btn-block { display: block;width: 100%;}
</style>

<div class="text-center">
    <h1 class="display-4">Cadastrar Contato</h1>
</div>


<form>
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" placeholder="Digite Seu Nome">
        
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control"  placeholder="Digite Seu E-mail de Contato">
    </div>

    <div class="form-group">
        <label for="celular">Celular</label>
        <input type="text" class="form-control" placeholder="Digite Seu Número de Contato">
    </div>
    <br/>
    <button type="submit" class="btn btn-primary btn-block">Adicionar</button> <br/>
    <a class="btn btn-dark btn-block" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
   
</form>

