@{
    ViewData["Title"] = "Lista de Contatos";
}

<div class="text-center">
    <h1 class="display-4">Lista de Contatos</h1>
   
</div>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Telefone</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Mark@gmail.com</td>
            <td>11342827645</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-dark">Apagar</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Jacob@gmail.com</td>
            <td>1135926634</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-dark">Apagar</button>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Philip</td>
            <td>Philip@gmail.com</td>
            <td>1122746342</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-dark">Apagar</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
